@import "tailwindcss";

/* ซ่อน scrollbar แนวนอน เอาไว้เลื่อนๆหน่อย*/
.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.15);
  border-radius: 999px;
}


